.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/

.ipynb_checkpoints/


*.pyc
*.p
*.pkl 

*/.floyd*

seq2seq/best_model.ckpt.meta
seq2seq/best_model.ckpt.index
seq2seq/best_model.ckpt.data-00000-of-00001
*.gz
*.gz
